/* Ajustes de texto */
.desc-text{
    text-align: center;
    padding: 3rem;
    font-size: 1.2rem;
}
/* ---------------- */
.contenedor-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Configuracion de elementos formulario */
.formulario-contacto{
    width: 500px;
    margin: 40px auto
}

.formulario-contacto label{
    display:block;
    margin-bottom: 8px;
    font-weight: bold;
}

.formulario-contacto input, 
.formulario-contacto select,
.formulario-contacto textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario-contacto select{
    cursor: pointer;
}

.formulario-contacto textarea {
    height: 120px;
    resize: vertical;
}

.formulario-contacto button {
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(61, 103, 199);
    color: #ffffff;
}

.formulario-contacto button:hover {
    background: #294c9c;
}