nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 2rem;
}
/* Ajustes de texto */
.name-producto{
    background: rgb(35, 37, 39);
    border-radius: 1rem;
    color: rgb(255, 255, 255);
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
/* ---------------- */
/* Tarjetas de productos */
.fondo-producto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(226, 225, 225);
    border-radius: 1.3rem;
    border: 2px solid #0a2053;
    width: 13rem;
    height: 13rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    padding-bottom: 3rem;
    font-weight: 650;
}

.fondo-producto img{
    height: 10rem;
    padding: 1rem;
}