/* Ajustes de texto */
.desc-text {
    text-align: left;
    padding:0;
    font-size: 1.2rem;
    line-height: 1.5;
}

.precio {
    font-size: 2rem;
    font-weight: bold;
    margin: 1.5rem 0;
}

/* Distribución general de la información del producto */
.seccion-producto{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: flex-start;
}

/* Imagen del producto */
.seccion-producto img {
    width: 25rem;
    height: 25rem;
    object-fit: contain;
}

/* Información y datos del producto */
.producto-info {
    width:25rem;
}

.producto-info h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Contenedor de cantidad y botón de agregar al carrito */
.compra {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.compra input {
    width: 4rem;
    padding: 0.7rem;
}

.compra button {
    padding: 0.7rem 2rem;
    background: #1544B1;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

/* Sección de características del producto */
.caracteristicas {
    margin: 1.5rem 0;
    padding: 0;
}

.caracteristicas h3 {
    margin-bottom: 1rem;
}

.caracteristicas ul {
    list-style-position: inside;
    padding-left: 0;
}

/* Información sobre disponibilidad del producto */
.stock {
    color: #238636;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* Información de marca y modelo */
.marca-modelo {
    color: gray;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}