/* Ajustes de texto */
.desc-text {
    text-align: center;
    padding: 3rem;
    font-size: 1.2rem;
}

h4 {
    background: rgb(21, 68, 177);
    border-radius: 1rem;
    border: 1.5px solid rgb(83, 82, 82);
    padding: 0.6rem;
    color: #ffffff;
    margin-bottom: 2rem;
}
/* ----------------- */
/* Secciones */
.seccion-producto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion-producto img {
    height: 15rem;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 1rem;
}
